@{
    ViewData["Title"] = "Hobby Page";
}

@* <div class="text-center"> *@
    <h1>I Love Biking</h1>
@* </div> *@

<img src="~/img/tourdefrance1.jpeg" alt="Tour De France Image" width="300">
<img src="~/img/tourdefrance2.jpg" alt="Tour De France Image" width="300">
<br/>
<h3>What is the Tour De France?</h3>
<p>The Tour de France is the world’s most famous cycling race, held annually in July. 
    First organized in 1903, it spans three weeks and covers around 3,500 km (2,200 miles) across 
    France and neighboring countries. The race consists of flat, mountain, and time trial stages, 
    testing riders' endurance, speed, and strategy. The prestigious yellow jersey (maillot jaune) 
    is awarded to the overall leader. Teams work together to support their strongest riders, making it both 
    an individual and team competition. With breathtaking scenery, intense rivalries, and historic moments, 
    the Tour de France remains a legendary event in sports. 
    </p>
    
<h3>Mountain Biking in Utah</h3>
<p>Mountain biking in Utah offers some of the best trails in the world, with diverse landscapes ranging from red rock 
    deserts to alpine forests. I have been mountain biking on some slick rock trails in Moab and doing so brings me a 
    lot of joy. I know there are amazing trails all over Utah and I am excited to try more of them out but 
    first I need to get a mountain bike of my own.</p>

    
    