@{
    ViewData["Title"] = "My Services";
}

<h1>I am willing to help you get into biking or just have a buddy to go with!</h1>
<h4>Calcualte Pricing:</h4>

<form >
    <label for="numberHours">Enter the number of hours you want to work with me:</label>
    <input type="text" id="numberHours" name="numberHours">
    <input type="submit">
    
</form>
